<!DOCTYPE html>
<html>
    <head>
        <title>Add a Property</title>
    </head>
    <h1 style="font-family: verdana; text-align: center; color: rgb(255, 90, 95)"> AirbnbLite </h1>
    <body>
            <form action="http://localhost:4000/home">
                <input type="submit" value="home">
            </form>
        <form action="http://localhost:4000/addNewProperty" method="post" style="text-align: center">
            Property name:<br>
            <input type="text" name="name"><br>

            <br>Property type:<br>
            <input type="text" name="type"><br>

            <br>Price:<br>
            <input type="text" name="price"><br>
            <br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>