<!DOCTYPE html>
<html>
        <h1 style="font-family: verdana; text-align: center; color: rgb(255, 90, 95)"> AirbnbLite </h1>
    <body>
        <p style="text-align: center">
            Welcome!
        </p>
        <form action= "http://localhost:4000/addNewProperty" style="text-align: center; font-family: verdana; font-weight: bold">
            <input type="submit" value="  I'm a Vendor  ">
        </form>
        <br>
        <form action= "http://localhost:4000/properties" style="text-align: center; font-family: verdana; font-weight: bold">
            <input type="submit" value="I want to RENT">
        </form>
        <br>
        <form action= "http://localhost:4000/login" style="font-family: verdana; font-weight: bold">
            <input type="submit" value="Login to another account">
        </form>
    </body>

</html>