<!DOCTYPE html>
<html>
    <head>
        <title> AirbnbLite </title>
    </head>
    <h1 style="font-family: verdana; text-align: center; color: rgb(255, 90, 95)"> AirbnbLite </h1>
<body>
        <form action="http://localhost:4000/signup" method="post" style="text-align: center">
            <br>Username:<br>
            <input type="text" name="username"><br>
            <br>Password:<br>
            <input type="password" name="password"><br>
            <br>
            <input type="submit" value="Sign up">
        </form><br>
        <a href="http://localhost:4000/login" style="text-align: center">Already have an account? Sign in here</a>

</body>
</html>